<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <link href="css/index.css" rel="stylesheet">
  <link href="fontawesome/css/font-awesome.min.css" rel="stylesheet" />
  <!--[if IE]>
  <link href="fontawesome/css/font-awesome-ie7.min.css" rel="stylesheet" />
  <![endif]-->
</head>
<body ng-app="app">
     <!-- 头部 -->
     <header id="header" ng-controller="new" >
      <div class="header-content clearfix">  
      <div class="logo clearfix">
        	<img src="images/logo.png">
        	<span>橙子爱搭</span>
      </div>
     	<nav >
     		<ul class="clearfix">
               <li ><a href="#/" class="focus">主页</a></li>
               <li ><a href="#/index" >精选</a></li>
               <li><a href="#/beauty">美搭</a></li>
               <li><a href="skin.html" target="_blank">细节</a></li>
               <!-- <li><a href="#/orange">橙子</a></li> -->
     		</ul>
     	</nav>
          <div class="loginer clearfix" >
        <div class="login"><a href="javascript:;" ng-click="login()">登录</a>             
        </div>
        <div class="register"><a href="javascript:;" ng-click="register()">注册</a></div>
         
     </div>
     </div>
       <div class="a">
       <div class="container">
          <input type="button" class="cancle" ng-click="cancle()" value="❎">
           <div class="reg">
           
            <p>
                <label for="username" class="e">用户名</label>
                <input type="text" name="username" id="username">
             </p>
            <p>
                  <label for="password" class="e">请设置密码</label>
                  <input type="password" name="password" id="password">
            </p>
           <p>
               <label for="qr" class="e">请确认密码</label>
             <input type="password" name="qr" id="qr">
           </p>
           <p>
               <label for="number" class="e">验证手机</label>
             <input type="text" name="number" id="number">
           </p>
           <p>
             <label for="yz" class="e">短信验证码</label>
             <input type="text" name="yz" id="yz">
             <button id="hq">获取短信验证码</button>
           </p>
           <button id="regester">立即注册</button>
       </div>
       </div>
     </div>
     </header>
     
     <!-- 橘子跳动动画 -->
   
     <!-- 控制器视图 -->
     <div class="view-c clearfix">
     	   <div ng-view="">
         </div>
     </div>
     <!-- 尾部 -->
     <footer id="footer">
         <div class="return">
           <a href="javascript:;">
              <img src="images/up.png">
           </a>  
         </div>
         <div class="top">
         <p class="contacts">
          <a href="http://weibo.com/5573124074/profile?rightmod=1&wvr=6&mod=personinfo&is_all=1" target="_blank"><i class="fa fa-weibo"></i></a>
          <a href="https://github.com/irouduoduo" target="_blank"><i class="fa fa-github"></i></a>
          <a href="weixin.html" target="_blank"><i class="fa fa-weixin"></i></a>
          <a href="qq.html" target="_blank"><i class="fa fa-qq"></i></a>
         </p>
         <p class="topic">one heart want to be better</p>
         <p class="links">
            <span>关于我们</span>
            <span>友情链接</span>
            <span>四季理论</span>
            <span>官方论坛</span>
         </p>
         </div>
         <div class="bottom">
           <p>生活应努力使之美好。生活不止当下，跋山涉险，还有诗和远方。</p>
           <span>Copyright © 2017.6.1 橙子爱搭 Theme by yali Gao All All Rights Reserved.</span>
         </div>
     </footer>
  <script src=js/jquery.min.js></script>
  <script src=js/angular.js></script>
  <script src=js/angular-route.min.js></script>
  <script src=js/angular-pagination.js></script>
  <script type="text/javascript">
       // 引入分页插件,依赖模块要写
        var app = angular.module('app',['ngRoute','myModule']);
        app.controller('new',['$scope',function($scope){
          // 
          $('header li a').click(function(){
              $(this).addClass('focus').parent().siblings().find('a').removeClass('focus');

          });
          $scope.register = function(){
            console.log("显示成功");
            document.querySelector('.a').style.display = 'block';
          }
          $scope.cancle = function(){
            console.log('取消成功');
            document.querySelector('.a').style.display = 'none';
          }
        }]);
        // 配置相关超链接的内联页面
       app.config(['$routeProvider',function($routeProvider) {
          $routeProvider.when('/',{ //单斜杠表示页面加载的时候跳转到的页面
               templateUrl:'home.html',
               controller:'homectrl'
          }).when('/index',{
               templateUrl:'article.html',
               controller:'articlectrl'
          }).when('/beauty',{
               templateUrl:'beauty.html',
               controller:'beautyctrl'
          }).when('/orange',{
               templateUrl:'orange.html',
               controller:'orangectrl'
          }).otherwise({
            redirectTo:'/'
          });
        }]);
           // 文章页面的控制器,article.html
       app.controller('articlectrl',['$scope','$http',function($scope,$http){
          $('.pagination li a').click(function(){
            console.log('ssjjsj');
              $(this).addClass('pageBtn-focus').parent().siblings().find('a').removeClass('pageBtn-focus');

          });
           $http({
               url:'https://irouduoduo.github.io/chengda/php/article.php'
      }).success(function (info) {
        // 请求回的数据放到模型上
       
        $scope.selAll = info.data.selList;
        $scope.selList = info.data.selList.slice(0, 10);
        // console.log(info.data.selList.length);
        
      });
      // console.log($scope.selAll);
          $scope.option = {
               curr: 1,  //当前页数
               all: 20,  //总页数
               count: 10,  //最多显示的页数，默认为10
               click: function (page) {
                 //这里可以写跳转到某个页面等
                    if (page>=1&&page<20) {
                        $scope.selList = $scope.selAll.slice(page*10, page*10+10);
                     };
                  }
                };
        // 评论提交给后台
          $scope.comment = '在此输入相关评论内容';
          $('.message textarea').focus(function(){
            $(this).val('');
          });
         var arr = new Array();
         $scope.submit = function(){
          arr.push($scope.comment);
          console.log(arr);
          alert('评论已提交等待审核');
          $scope.comment = '';
         }         

       }]);
       // 美搭欣赏
     app.controller('beautyctrl',['$scope','$http',function($scope,$http){

           $http({
            url:'https://irouduoduo.github.io/chengda/php/beauty.php',//去后台获取相关数据
           }).success(function(info){
             $scope.allData = info.data;
             console.log($scope.allData.length);
               $scope.data = info.data.slice(0, 15);//处理返回的数据
           });
          
             $scope.option = {
               curr: 1,  //当前页数
               all: 2,  //总页数
               count: 2,  //最多显示的页数，默认为10
               click: function (page) {
                    if(page == 1)
                    {
                        $scope.data = $scope.allData.slice(0,15);
                    }else{
                      $scope.data = $scope.allData.slice((page-1)*15,(page-1)*15+15);
                     
                  }
                    }
                }; 

       }]);
      app.controller('orangectrl',['$scope','$http',function($scope,$http){
           
       }]);
      app.controller('homectrl',['$scope','$http',function($scope,$http){
           console.log("yunxin");
       }]);
  </script>

	
</body>
</html>